html, body{
  margin: 0;
  padding: 0;
  background-color: #2f4f30;
  color: white;
  overflow: hidden;
}


.titulo{
  text-align: center;
  background-color: black;
  padding: 20px;
  font-size: 25px;
}

.carta{
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

.judador-cartas, .computadora-cartas{
  height: 240px;
}